In [1]:
import pandas as pd
import numpy as np

In [2]:
#Objection Creation 
s= pd.Series([1,2,3,4,np.nan,4,3,2])
s

0    1.0
1    2.0
2    3.0
3    4.0
4    NaN
5    4.0
6    3.0
7    2.0
dtype: float64

In [3]:
dates = pd.date_range('20130101',periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01 -0.546371  1.401334 -0.027032 -0.030835
2013-01-02 -0.142514  0.382621  0.072281 -0.135842
2013-01-03 -0.927302  1.369514 -1.155230 -0.191267
2013-01-04 -0.720212 -0.004568  0.792073  2.179632
2013-01-05  0.199713  1.378364 -0.683522  0.839294
2013-01-06  0.621242  0.195484 -0.164767 -0.165131

In [5]:
np.random.randn(6,4)

array([[-0.0110371 ,  2.76784685,  0.66577754, -1.97940542],
       [ 2.23965366, -2.25655448,  0.7961772 ,  0.78336064],
       [-0.15956289,  3.29406013,  0.29770014,  0.27755289],
       [ 0.13818758, -0.63299988, -1.73358564,  0.96436665],
       [ 0.4299855 , -0.9013547 ,  1.07836099, -0.90622422],
       [-2.30370848, -0.38384397, -0.48370251,  0.82156625]])

In [6]:
df2 = pd.DataFrame(
  {
    "A":1.0,
    "B":pd.Timestamp('20220202'),
    "C":pd.Series(1,index=list(range(4)), dtype='float32'),
    "D":np.array([3,3,3,3], dtype='int32'),
    "E":pd.Categorical(['test', 'train','test', 'train']),
    "F":'foo'
  }
)

df2

     A          B    C  D      E    F
0  1.0 2022-02-02  1.0  3   test  foo
1  1.0 2022-02-02  1.0  3  train  foo
2  1.0 2022-02-02  1.0  3   test  foo
3  1.0 2022-02-02  1.0  3  train  foo

In [7]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [8]:
df2.head(2)

     A          B    C  D      E    F
0  1.0 2022-02-02  1.0  3   test  foo
1  1.0 2022-02-02  1.0  3  train  foo

In [9]:

df2.tail(2)

     A          B    C  D      E    F
2  1.0 2022-02-02  1.0  3   test  foo
3  1.0 2022-02-02  1.0  3  train  foo

In [10]:
df2.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [11]:
convert_datafrom_to_array = df2.to_numpy()
convert_datafrom_to_array

array([[1.0, Timestamp('2022-02-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2022-02-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2022-02-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2022-02-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [12]:
df2.describe()

         A    C    D
count  4.0  4.0  4.0
mean   1.0  1.0  3.0
std    0.0  0.0  0.0
min    1.0  1.0  3.0
25%    1.0  1.0  3.0
50%    1.0  1.0  3.0
75%    1.0  1.0  3.0
max    1.0  1.0  3.0

In [13]:
df2.T

,0,1,2,3
A,1.0,1.0,1.0,1.0
B,2022-02-02 00:00:00,2022-02-02 00:00:00,2022-02-02 00:00:00,2022-02-02 00:00:00
C,1.0,1.0,1.0,1.0
D,3,3,3,3
E,test,train,test,train
F,foo,foo,foo,foo