# Basic Data Structure In Python

## 1- Tuple
## 2- List
## 3- Dict
## 4- Set

## Tuple

**- ordered collection of elements**

**- enclosed with round braces ()**

**- Tuples are immutable means ones the values are entered, you cannot change the values**

In [1]:
#Tuples can store different data types 

#Basic Example
tup1 = (1, "Python", True, 2.5,1, "Python", True, 2.5)
tup1

(1, 'Python', True, 2.5, 1, 'Python', True, 2.5)

In [2]:
#Advance Example
tup2 = (1, "Python", True, 2.5,("Python", True, 2.5), ["Python", True, 2.5], {"name": "Mustafa"} )
tup2

(1,
 'Python',
 True,
 2.5,
 ('Python', True, 2.5),
 ['Python', True, 2.5],
 {'name': 'Mustafa'})

In [3]:
tup1[1]

'Python'

In [4]:
tup2[1:6]

('Python', True, 2.5, ('Python', True, 2.5), ['Python', True, 2.5])

In [5]:
len(tup2)

7

In [6]:
#Concatination
tup1 + tup2

(1,
 'Python',
 True,
 2.5,
 1,
 'Python',
 True,
 2.5,
 1,
 'Python',
 True,
 2.5,
 ('Python', True, 2.5),
 ['Python', True, 2.5],
 {'name': 'Mustafa'})

In [7]:
#Repetition
tup1*3

(1,
 'Python',
 True,
 2.5,
 1,
 'Python',
 True,
 2.5,
 1,
 'Python',
 True,
 2.5,
 1,
 'Python',
 True,
 2.5,
 1,
 'Python',
 True,
 2.5,
 1,
 'Python',
 True,
 2.5)

In [8]:
tup3 = (10,20,30,40,50,60)
tup3

(10, 20, 30, 40, 50, 60)

In [9]:
min(tup3)

10

In [10]:
max(tup3)

60

In [11]:
type(tup2)

tuple

In [12]:
tup1

(1, 'Python', True, 2.5, 1, 'Python', True, 2.5)

In [13]:
tup1.index('Python')

1

In [14]:
#Count method will return the count how many time the given value appares in the dataType
tup1.count(2.5)

2

## List

**- ordered collection of elements**

**- enclosed with square braces []**

**- List are mutable means ones the values are entered, you can change the values**

In [15]:
#Simple Example
list1 = [1, 'Python', 2.5, "Mustafa",False, 66]
list1

[1, 'Python', 2.5, 'Mustafa', False, 66]

In [16]:
#Advance Example
adList = [1,"Mustafa", True, 9.0, (True, 33, 'Muhammad'),[True, 33, 'Muhammad'],{'name': "Mustafa"}]
adList

[1,
 'Mustafa',
 True,
 9.0,
 (True, 33, 'Muhammad'),
 [True, 33, 'Muhammad'],
 {'name': 'Mustafa'}]

In [17]:
list2 = [55, True, 33, 'Muhammad']
list2

[55, True, 33, 'Muhammad']

In [18]:
type(list1)

list

In [19]:
len(list1)

6

In [20]:
list1[2]

2.5

In [21]:
#Concatination
list1 + list2

[1, 'Python', 2.5, 'Mustafa', False, 66, 55, True, 33, 'Muhammad']

In [22]:
list1 * 2

[1,
 'Python',
 2.5,
 'Mustafa',
 False,
 66,
 1,
 'Python',
 2.5,
 'Mustafa',
 False,
 66]

In [26]:
list1.reverse()
list1

[66, False, 'Mustafa', 2.5, 'Python', 1]

In [28]:
list1.append("Hello")
list1

[66, False, 'Mustafa', 2.5, 'Python', 1, 'Hello', 'Hello']

In [29]:
list1.count("Hello")

2

In [32]:
x = list1.copy()
x

[66, False, 'Mustafa', 2.5, 'Python', 1, 'Hello', 'Hello']

In [33]:
list1.clear()
list1

[]

In [34]:
list1 = x.copy()
list1

[66, False, 'Mustafa', 2.5, 'Python', 1, 'Hello', 'Hello']

In [35]:
list1.extend(x)
list1

[66,
 False,
 'Mustafa',
 2.5,
 'Python',
 1,
 'Hello',
 'Hello',
 66,
 False,
 'Mustafa',
 2.5,
 'Python',
 1,
 'Hello',
 'Hello']

In [36]:
list1.count("Hello")

4

In [37]:
list1.index('Mustafa')

2

In [41]:
list1.insert(0,'newVal')
list1

['newVal',
 'newVal',
 'newVal',
 66,
 False,
 'Mustafa',
 2.5,
 'Python',
 1,
 'Hello',
 'Hello',
 66,
 False,
 'Mustafa',
 2.5,
 'Python',
 1,
 'Hello',
 'Hello']

In [43]:
list1.pop()
list1

['newVal',
 'newVal',
 'newVal',
 66,
 False,
 'Mustafa',
 2.5,
 'Python',
 1,
 'Hello',
 'Hello',
 66,
 False,
 'Mustafa',
 2.5,
 'Python',
 1]

In [44]:
list1.remove('newVal')
list1

['newVal',
 'newVal',
 66,
 False,
 'Mustafa',
 2.5,
 'Python',
 1,
 'Hello',
 'Hello',
 66,
 False,
 'Mustafa',
 2.5,
 'Python',
 1]

In [46]:
numList = [22,331,1,32,44,12,45,1,2,4,66,4,111,53,25,6,4,2,67,32,2,6,3,4,2165,45]
numList

[22,
 331,
 1,
 32,
 44,
 12,
 45,
 1,
 2,
 4,
 66,
 4,
 111,
 53,
 25,
 6,
 4,
 2,
 67,
 32,
 2,
 6,
 3,
 4,
 2165,
 45]

In [47]:
numList.sort()
numList

[1,
 1,
 2,
 2,
 2,
 3,
 4,
 4,
 4,
 4,
 6,
 6,
 12,
 22,
 25,
 32,
 32,
 44,
 45,
 45,
 53,
 66,
 67,
 111,
 331,
 2165]

## Dict

**- unordered collection of elements**

**- enclosed with curly braces {}**

**- Dict are mutable means ones the values are entered, you can change the values**
 
**- Dict are consist of key value pairs**

In [51]:
dict1 = {"Name": "Mustafa", 'car': 'bmw'}
dict1

{'Name': 'Mustafa', 'car': 'bmw'}

In [52]:
#advance Dict
dict2 = {"Fruits_Prices":{'apple': 20, 'banana': 20}, "List_Of_Shops":[22,3,4,5,3,2,2]}
dict2

{'Fruits_Prices': {'apple': 20, 'banana': 20},
 'List_Of_Shops': [22, 3, 4, 5, 3, 2, 2]}

In [57]:
y =  dict1.copy()
y

{'Name': 'Mustafa', 'car': 'bmw'}

In [59]:
dict1.clear()
dict1

{}

In [60]:
dict1 = y.copy()
dict1

{'Name': 'Mustafa', 'car': 'bmw'}

In [63]:
dict1.get('Name')

'Mustafa'

In [64]:
dict1.items()

dict_items([('Name', 'Mustafa'), ('car', 'bmw')])

In [65]:
dict1.keys()

dict_keys(['Name', 'car'])

In [67]:
dict1.pop('car')
dict1

{'Name': 'Mustafa'}

In [71]:
dict1 = y.copy()

In [72]:
dict1.popitem()

('car', 'bmw')

In [73]:
dict1 = y.copy()

In [74]:
dict1.update({'Room': 1})
dict1

{'Name': 'Mustafa', 'car': 'bmw', 'Room': 1}

In [75]:
dict1.values()

dict_values(['Mustafa', 'bmw', 1])

In [79]:
dict1.setdefault("Name","Muhammad")
dict1

{'Name': 'Mustafa', 'car': 'bmw', 'Room': 1}

## Sets

**- unordered collection of elements**

**- enclosed with curly braces {}**

**- unindexed**
 
**- no duplicates allowed**

In [80]:
set1 = {11,'Muhammad', "Mustafa", 33.33}
set1

{11, 33.33, 'Muhammad', 'Mustafa'}

In [81]:
set1.add('newValue')
set1

{11, 33.33, 'Muhammad', 'Mustafa', 'newValue'}

In [82]:
set2 = set1.copy()
set2

{11, 33.33, 'Muhammad', 'Mustafa', 'newValue'}

In [83]:
set1.clear()
set1

set()

In [84]:
set1 = set2.copy()
set1

{11, 33.33, 'Muhammad', 'Mustafa', 'newValue'}

In [89]:
abc_Set = {'a','b','c'}
abcd_Set = {'a','b','d'}

In [90]:
#checks the 2 same length Sets and return the difference of the set

deff_set = abc_Set.difference(abcd_Set)
deff_set

{'c'}

In [92]:
print(abc_Set.difference_update(abcd_Set))

None